/* style.scss */

/* variables */
/* blues */
$blue1 : #15a9b0;
$blue2 : #2A878B;
$blue3 : #09787d;
$blue4 : #54D9DF;
$blue5 : #83DBDF;

/* oranges */
$orange1 : #ff851c;
$orange2 : #ca7e3c;
$orange3 : #b55a0c;
$orange4 : #ffa960;
$orange5 : #ffc695;

$brown : #9D4100;

/* mixins */
@mixin rounded($side, $radius: 10px) {
	border-#{$side}-radius: $radius;
	-moz-border-radius-#{$side}: $radius;
	-webkit-border-#{$side}-radius: $radius;
}

@mixin rounded-all($radius: 10px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

body {
	height: 100%;
}

/* For the skyline */
#background {
	z-index: -1;
	background-image:url("/recommendla/images/la.png");
	position: absolute;
	bottom: 0;
	$width : 1020px;

	width: $width;
	height:354px;
	left:50%;
	margin-left: -$width/2;
}

#mountains {
	z-index: -2;
	background-image:url("/recommendla/images/mountains.png");
	position:absolute;
	bottom: 100px;
	width: 100%;
	height:144px;
	left: 0;
	opacity: .7;
}

header {
	@include rounded(top-left);
	@include rounded(top-right);
	border: 1px solid $brown;
	border-bottom-width: 0px;
	color: $blue5;
	width: 60%;
	height: 80px;
	margin: 0 auto;
	background-color: $blue3;
	opacity: .9;

	h1 {
		text-align:center;
		font-family: 'Londrina Sketch', cursive;
		letter-spacing: 1px;
		font-size: 46px;
		margin: 15px;
	}
}

.appAction {
	color: $orange1;
}

#mainNav {
	margin: 0 auto;
	width: 60%;
	text-align: center;
	background-color: $orange1;
	@include rounded(bottom-left);
	@include rounded(bottom-right);
	border: 1px solid $brown;
	border-top-width: 0px;

	a {
		margin: 10px;
		text-decoration: none;
		color: white;
		font-family: 'Coda', cursive;
		letter-spacing: 1px;
		font-size: 20px;

	}
}
