/* style.scss */
/* variables */
/* blues */
/* oranges */
/* mixins */
body {
  height: 100%; }

/* For the skyline */
#background {
  z-index: -1;
  background-image: url("/recommendla/images/la.png");
  position: absolute;
  bottom: 0;
  width: 1020px;
  height: 354px;
  left: 50%;
  margin-left: -510px; }

#mountains {
  z-index: -2;
  background-image: url("/recommendla/images/mountains.png");
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 144px;
  left: 0;
  opacity: .7; }

header {
  border-top-left-radius: 10px;
  -moz-border-radius-top-left: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-top-right: 10px;
  -webkit-border-top-right-radius: 10px;
  border: 1px solid #9d4100;
  border-bottom-width: 0px;
  color: #83dbdf;
  width: 60%;
  height: 80px;
  margin: 0 auto;
  background-color: #09787d;
  opacity: .9; }
  header h1 {
    text-align: center;
    font-family: 'Londrina Sketch', 'Helvetica', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    margin: 15px;
    overflow: hidden; }
    header h1 #LA {
      color: #ff851c; }

.appAction {
  color: #ff851c; }

#mainNav {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  background-color: #df6262;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottom-left: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottom-right: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border: 1px solid #9d4100;
  border-top-width: 0px; }
  #mainNav a {
    margin: 25px;
    text-decoration: none;
    color: white;
    font-family: 'Coda', 'Helvetica', sans-serif;
    font-size: 20px; }

#find {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px dashed #df6262;
  background-color: white;
  opacity: .8;
  margin: 20px auto;
  min-width: 300px;
  width: 70%;
  min-height: 100px; }
  #find h1 {
    font-family: 'Londrina Sketch', sans-serif;
    font-size: 40px;
    color: #002f2f;
    text-align: center; }
  #find h2 {
    font-family: 'Coda', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #ff851c; }
  #find form {
    position: relative;
    font-family: 'Coda', 'Helvetica', sans-serif;
    color: #002f2f;
    padding: 8px 5px 0 10px; }
    #find form label {
      padding-left: 20px;
      min-width: 150px;
      width: 20%;
      float: left; }
    #find form .submitButton {
      margin-left: 100px; }
  #find .findy {
    float: left; }
  #find #findResults {
    display: none;
    float: left;
    width: 50%;
    min-width: 150px;
    text-align: center; }

#add {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px dashed #df6262;
  background-color: white;
  opacity: .8;
  margin: 20px auto;
  min-width: 300px;
  width: 70%;
  min-height: 100px;
  display: none; }
  #add h1 {
    font-family: 'Londrina Sketch', sans-serif;
    font-size: 40px;
    color: #002f2f;
    text-align: center; }
  #add h2 {
    font-family: 'Coda', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #ff851c; }
  #add form {
    position: relative;
    font-family: 'Coda', 'Helvetica', sans-serif;
    color: #002f2f;
    padding: 8px 5px 0 10px; }
    #add form label {
      padding-left: 20px;
      min-width: 150px;
      width: 20%;
      float: left; }
    #add form .submitButton {
      margin-left: 100px; }
  #add .addy {
    float: left; }
  #add #addResult {
    display: none;
    float: left;
    width: 50%;
    min-width: 150px;
    text-align: center; }
