/* style.scss */

/* variables */
/* blues */
$blue1 : #15a9b0;
$blue2 : #2A878B;
$blue3 : #09787d;
$blue4 : #54D9DF;
$blue5 : #83DBDF;
$blue6 : #002f2f;

/* oranges */
$orange1 : #ff851c;
$orange2 : #ca7e3c;
$orange3 : #b55a0c;
$orange4 : #ffa960;
$orange5 : #ffc695;

$brown : #9D4100;
$pink : #DF6262;

/* mixins */
@mixin rounded($side, $radius: 10px) {
	border-#{$side}-radius: $radius;
	-moz-border-radius-#{$side}: $radius;
	-webkit-border-#{$side}-radius: $radius;
}

@mixin rounded-all($radius: 10px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin form-style {
	position:relative;
	font-family: 'Coda', 'Helvetica', sans-serif;
	color: $blue6;
	padding: 8px 5px 0 10px;

	label {
		padding-left: 20px;
		min-width: 150px;
		width: 20%;
		float: left;
	}

	.submitButton {
		margin-left: 100px;
	}
}

@mixin content {
	@include rounded-all();
	border: 2px dashed $pink;
	background-color: white;
	opacity:.8;
	margin: 20px auto;
	min-width: 300px;
	width: 70%;
	min-height: 100px;

	h1 {
		font-family: 'Londrina Sketch', sans-serif;
		font-size: 40px;
		color: $blue6;
		text-align: center;
	}

	h2 {
		font-family: 'Coda', sans-serif;
		font-size: 25px;
		font-weight:normal;
		color: $orange1;
	}
}

body {
	height: 100%;
}

/* For the skyline */
#background {
	z-index: -1;
	background-image:url("/recommendla/images/la.png");
	position: absolute;
	bottom: 0;
	$width : 1020px;

	width: $width;
	height:354px;
	left:50%;
	margin-left: -$width/2;
}

#mountains {
	z-index: -2;
	background-image:url("/recommendla/images/mountains.png");
	position:absolute;
	bottom: 80px;
	width: 100%;
	height:144px;
	left: 0;
	opacity: .7;
}

header {
	@include rounded(top-left);
	@include rounded(top-right);
	border: 1px solid $brown;
	border-bottom-width: 0px;
	color: $blue5;
	width: 60%;
	height: 80px;
	margin: 0 auto;
	background-color: $blue3;
	opacity: .9;

	h1 {
		text-align:center;
		font-family: 'Londrina Sketch', 'Helvetica', sans-serif;
		letter-spacing: 2px;
		font-size: 50px;
		margin: 15px;
		overflow: hidden;

		#LA {
			color:$orange1;
		}
	}
}

.appAction {
	color: $orange1;
}

#mainNav {
	margin: 0 auto;
	width: 60%;
	text-align: center;
	background-color: $pink;
	@include rounded(bottom-left);
	@include rounded(bottom-right);
	border: 1px solid $brown;
	border-top-width: 0px;

	a {
		margin: 25px;
		text-decoration: none;
		color: white;
		font-family: 'Coda', 'Helvetica', sans-serif;
		font-size: 20px;
	}
}

#find{
	@include content;

	form {
		@include form-style;
	}

	.findy{
		float: left;
	}
	#findResults {
		display:none;
		float:left;
		width: 50%;

		min-width: 150px;
		text-align:center;
	}
}

#add {
	@include content;
	display: none;

	form {
		@include form-style;
	}

	.addy{
		float:left;
	}
	#addResult {
		display:none;
		float:left;
		width:50%;
		min-width: 150px;
		text-align: center;
	}
}
